# Executables & Installer binaries
*.exe
python_installer.exe

# Dependencies
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment files
.env
.env.local

# Logs
logs
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
